.overlay-text-photo{
    margin: 0px;
    margin-top: -35px;
    font-size: 14px;
    z-index: 99999999;
    .change-photo-label{
        background: #f5f6f9a3;
        padding: 2px 12px;
        border-radius: 6px;
    }
}