<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="danger" (click)="dismiss()">
            <span ion-text color="primary" showWhen="ios"></span>
            <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Case Info</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <div style="display: flex; align-items: center;justify-content: center;">
      <ion-img src="assets/images/icon.png"  style=" width: 40%;
      margin-top: 15px;"></ion-img></div>
      <ion-card-header>
        <ion-card-title>{{cases.name}}</ion-card-title>
        <ion-card-subtitle>{{cases.description}}</ion-card-subtitle>

      </ion-card-header>

      </ion-card>
      <ion-card>
        <ion-list>
          <ion-list-header color="tertiary">
            Info
          </ion-list-header>
          <ion-item>
              <ion-label>Mobile Number</ion-label>
              <ion-label color="primary" slot="end">{{cases.mobileNumber}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Vehicle Number</ion-label>
                <ion-label color="secondary" slot="end">{{cases.vehicleNumber}}</ion-label>
              </ion-item>
              <ion-item>
                  <ion-label>Date</ion-label>
                  <ion-label color="secondary" slot="end">{{cases.date}}</ion-label>
                </ion-item>
                <ion-item>
                <ion-label style=" margin-bottom: 7em; ">Vehicle photo </ion-label>
              <ion-img src="assets/images/icon.png"  style=" width: 40%;
                  margin-top: 15px;"></ion-img>
              </ion-item>
              <ion-item>
                <ion-label style=" margin-bottom: 7em; ">Id proof front</ion-label>
              <ion-img src="assets/images/icon.png"  style=" width: 40%;
                  margin-top: 15px;"></ion-img>
              </ion-item>
              <ion-item>
                <ion-label style=" margin-bottom: 7em; ">Id proof Back</ion-label>
              <ion-img src="assets/images/icon.png"  style=" width: 40%;
                  margin-top: 15px;"></ion-img>
              </ion-item>
             
        </ion-list>
      </ion-card>
</ion-content>