<ion-header>
  <app-header color="primary" [showMenu]="showMenu">
    <ion-back-button></ion-back-button>
  </app-header>
</ion-header>

<ion-content class="ion-padding">
  <app-logo> </app-logo>
  <ion-card *ngFor="let case of casesList" (click)="viewDetails(case)">
    <ion-card-header >
      <ion-card-title>{{case.name}}</ion-card-title>
      <ion-card-subtitle
        >Mobile number: {{case.mobile_number}} 
        <span class="date">{{case.date | date:'short'}}</span></ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>
</ion-content>
